* text=auto !eol
/.classpath -text
/.project -text
.settings/org.eclipse.jdt.core.prefs -text
.settings/org.eclipse.m2e.core.prefs -text
.settings/org.eclipse.wst.common.component -text
.settings/org.eclipse.wst.common.project.facet.core.xml -text
.settings/org.eclipse.wst.validation.prefs -text
.settings/org.maven.ide.eclipse.prefs -text
/pom.xml -text
src/main/java/edu/uiowa/elasticsearch/ElasticAggregation.java -text
src/main/java/edu/uiowa/elasticsearch/ElasticAggregationIterator.java -text
src/main/java/edu/uiowa/elasticsearch/ElasticAggregationName.java -text
src/main/java/edu/uiowa/elasticsearch/ElasticAggregationTerm.java -text
src/main/java/edu/uiowa/elasticsearch/ElasticAggregationTermCount.java -text
src/main/java/edu/uiowa/elasticsearch/ElasticAggregationTermIterator.java -text
src/main/java/edu/uiowa/elasticsearch/ElasticAggregator.java -text
src/main/java/edu/uiowa/elasticsearch/ElasticDocument.java -text
src/main/java/edu/uiowa/elasticsearch/ElasticFilter.java -text
src/main/java/edu/uiowa/elasticsearch/ElasticHit.java -text
src/main/java/edu/uiowa/elasticsearch/ElasticIndex.java -text
src/main/java/edu/uiowa/elasticsearch/ElasticIndexName.java -text
src/main/java/edu/uiowa/elasticsearch/ElasticIterator.java -text
src/main/java/edu/uiowa/elasticsearch/ElasticNameIterator.java -text
src/main/java/edu/uiowa/elasticsearch/ElasticSearch.java -text
src/main/java/edu/uiowa/elasticsearch/util/Aggregator.java -text
src/main/java/edu/uiowa/elasticsearch/util/ClientFactory.java -text
src/main/java/edu/uiowa/elasticsearch/util/Filter.java -text
src/main/java/edu/uiowa/elasticsearch/util/LocalProperties.java -text
src/main/java/edu/uiowa/elasticsearch/util/PropertyLoader.java -text
src/main/java/edu/uiowa/elasticsearch/util/RestClientFactory.java -text
src/main/java/edu/uiowa/elasticsearch/util/TagHit.java -text
src/main/java/edu/uiowa/elasticsearch/util/Test.java -text
src/main/resources/META-INF/taglib.tld -text
src/test/java/edu/uiowa/lucene/README.txt -text
src/test/resources/README.txt -text
